<%- include('../partials/header'); %>

    <main class="main container">
        <h1>Are ya hungry yet?</h1>
        <img src="/media/ba2.jpg">
    </main>

<%- include('../partials/footer'); %>